In [2]:
import pandas as pd
import seaborn as sns

In [4]:
pd.read_csv('PK COVID-19-10may.csv')

,Date,Cases,Deaths,Recovered,Travel_history,Province,City
0,2/26/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
1,2/26/2020,2,0,0,Iran/Taftan,Sindh,Karachi
2,2/29/2020,1,0,0,China,Islamabad Capital Territory,Islamabad
3,2/29/2020,1,0,0,Iran/Taftan,Sindh,Karachi
4,3/2/2020,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit
...,...,...,...,...,...,...,...
1323,5/10/2020,709,8,29,Local - Social Contact,Sindh,Karachi
1324,5/10/2020,59,0,0,Local - Social Contact,Baluchistan,Quetta
1325,5/10/2020,12,0,1,Local - Social Contact,Gilgit-Baltistan,Gilgit
1326,5/10/2020,160,11,40,Local - Social Contact,Khyber Pakhtunkhwa,Peshawar
1327,5/10/2020,7,0,0,Local - Social Contact,Azad Jummu Kashmir,Muzaffarabad

In [7]:
df1= pd.read_excel('PK COVID-19-10may.xlsx')
df1

,Date,Cases,Deaths,Recovered,Travel_history,Province,City
0,2020-02-26,1,0,0,China,Islamabad Capital Territory,Islamabad
1,2020-02-26,2,0,0,Iran/Taftan,Sindh,Karachi
2,2020-02-29,1,0,0,China,Islamabad Capital Territory,Islamabad
3,2020-02-29,1,0,0,Iran/Taftan,Sindh,Karachi
4,2020-03-02,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit
...,...,...,...,...,...,...,...
1323,2020-05-10,709,8,29,Local - Social Contact,Sindh,Karachi
1324,2020-05-10,59,0,0,Local - Social Contact,Baluchistan,Quetta
1325,2020-05-10,12,0,1,Local - Social Contact,Gilgit-Baltistan,Gilgit
1326,2020-05-10,160,11,40,Local - Social Contact,Khyber Pakhtunkhwa,Peshawar
1327,2020-05-10,7,0,0,Local - Social Contact,Azad Jummu Kashmir,Muzaffarabad

In [10]:
df1.columns

Index(['Date', 'Cases', 'Deaths', 'Recovered', 'Travel_history', 'Province',
       'City'],
      dtype='object')

In [11]:
df1.describe()

             Cases       Deaths    Recovered
count  1328.000000  1328.000000  1328.000000
mean     22.647590     0.455572     2.467620
std      82.977344     1.804996    11.861503
min       0.000000     0.000000     0.000000
25%       1.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000
75%      10.000000     0.000000     0.000000
max    1080.000000    31.000000   208.000000

In [12]:
df1.isnull().sum()

Date              0
Cases             0
Deaths            0
Recovered         0
Travel_history    0
Province          0
City              0
dtype: int64

In [13]:
df1.info

<bound method DataFrame.info of            Date  Cases  Deaths  Recovered          Travel_history  \
0    2020-02-26      1       0          0                   China
1    2020-02-26      2       0          0             Iran/Taftan
2    2020-02-29      1       0          0                   China
3    2020-02-29      1       0          0             Iran/Taftan
4    2020-03-02      1       0          0             Iran/Taftan
...         ...    ...     ...        ...                     ...
1323 2020-05-10    709       8         29  Local - Social Contact
1324 2020-05-10     59       0          0  Local - Social Contact
1325 2020-05-10     12       0          1  Local - Social Contact
1326 2020-05-10    160      11         40  Local - Social Contact
1327 2020-05-10      7       0          0  Local - Social Contact

                         Province          City
0     Islamabad Capital Territory     Islamabad
1                           Sindh       Karachi
2     Islamabad Capital Territory     Islamabad
3                           Sindh       Karachi
4                Gilgit-Baltistan        Gilgit
...                           ...           ...
1323                        Sindh       Karachi
1324                  Baluchistan        Quetta
1325             Gilgit-Baltistan        Gilgit
1326           Khyber Pakhtunkhwa      Peshawar
1327           Azad Jummu Kashmir  Muzaffarabad

[1328 rows x 7 columns]>

In [14]:
df1.dtypes

Date              datetime64[ns]
Cases                      int64
Deaths                     int64
Recovered                  int64
Travel_history            object
Province                  object
City                      object
dtype: object

In [18]:
df1.head()

,Date,Cases,Deaths,Recovered,Travel_history,Province,City
0,2020-02-26,1,0,0,China,Islamabad Capital Territory,Islamabad
1,2020-02-26,2,0,0,Iran/Taftan,Sindh,Karachi
2,2020-02-29,1,0,0,China,Islamabad Capital Territory,Islamabad
3,2020-02-29,1,0,0,Iran/Taftan,Sindh,Karachi
4,2020-03-02,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit

In [25]:
df1.shape

(1328, 7)

In [22]:
X = df1[['Recovered','Cases']]
y =df1['Deaths']

In [24]:
X.isnull().sum()

Recovered    0
Cases        0
dtype: int64

In [26]:
# Import Libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#(5 , 6 Models k andar sy aik akela best model kesy select krna hain? )

# ab ham titanic ka dataset downloand kare gaye

df = sns.load_dataset('titanic')

# data set donwlad krne k bad data ko X aur Y may Devide/Cut kiya, 
# k kia batana hain aur kis ki base py batna hain?
# X ka mtalb kis ki base par mtlab input features
# Y ka mtlab hain k ham ny lables k andar divide kiya

X = df1[['Recovered','Cases']]
y =df1['Deaths']


# models ko import krna h 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier


# metrics kon konsy daikhny hain?
from sklearn.metrics import accuracy_score




#train test split ham ny q kiya?
#data ko half half krny k liye taa k ham kia kare accuracy aur metrics ki base pe check kar saky
from sklearn.model_selection import train_test_split
X_train, X_test, y_tain, y_test = train_test_split(X,y,test_size=0.2, random_state=42) 


#ab ham imported ko list may stro kare gaya
models = [LogisticRegression(),SVC(),DecisionTreeClassifier(),
             RandomForestClassifier(),KNeighborsClassifier()]
models_names = ['Logistic Regression','SVC','Decision Tree Classifier',
             'Random Forest Classifier','K Neighbors Classifier']

# ab ham ny aik khali list banani hain
models_scores = []

for model, model_name in zip(models, models_names):
    model.fit(X_train,y_tain)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    models_scores.append([model_name,accuracy])

sorted_models = sorted(models_scores, key = lambda x : x[1], reverse=True)
for model in sorted_models:
    print("Accuracy Score: ", f'{model[0]} : {model[1]:.2f}')

c:\Users\Abdul Hannan\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy Score:  SVC : 0.86
Accuracy Score:  K Neighbors Classifier : 0.86
Accuracy Score:  Logistic Regression : 0.86
Accuracy Score:  Decision Tree Classifier : 0.82
Accuracy Score:  Random Forest Classifier : 0.82